<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giới Thiệu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <section class="section1">
        
        <div class="content1">
            <form action="">
                <input type="radio" id="male" name="gender" value="male">
                <label for="male">Male</label><br>
                <input type="radio" id="female" name="gender" value="female">
                <label for="female">Female</label><br>
                <input type="radio" id="other" name="gender" value="other">
                <label for="other">Other</label><br>
                <input type="radio" id="other" name="gender" value="other">
                <label for="other">Other</label>
                <br>  

            </form>
            
        </div>
        <div class="right1">
            <input type="submit" value="Submit">
        </div>
    </section>
    <div class="slogan">
        <p class="author">_NGUYỄN NHẬT ÁNH_</p>
        <p>" Càng lớn tuổi, cong người ta càng ít nói đi. Họ nghĩ nhiều hơn "</p>
    </div>
    <footer>
        <div class="footer-transparent">
            <div class="information">
                <div>THÔNG TIN HỮU ÍCH</div>
                <P>
                    Review Truyện - Cafe Sách <br><br>
                    Tin waka <br><br>
                    Giới thiệu chung <br><br>
                    Thỏa thuận chung <br><br>
                </P>
                
            </div>
            <div class="contact">
                <div>THÔNG TIN LIÊN HỆ</div>
                <p>
                    Email: support@waka.vn <br><br>
                    Tel: 0243791844 <br><br>
                    Giấy xác nhận Đăng ký hoạt động phát hành xuất bản phẩm điện 
                    tử số 8132/XN-CXBIPH do Cục Xuất bản, <br> In và Phát hành cấp ngày 
                    31/12/2019

                </p>
            </div>
            <div class="connect">
                <div>LIÊN KẾT</div>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>